@inherits Spamma.App.Client.Components.Layout.MainLayout
<div class="container d-flex justify-content-center align-items-center">
    <img src="https://placehold.co/600x400?text=logo" />
    
    @Body
</div>