@page "/app-offline"
@using Spamma.App.Components.Layouts
@layout ConfigExternalLayout

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Application is currently on offline.</h5>
        <p class="card-text">If you are the administrator, please click <a href="/config/sign-in">here</a> to login.</p>
    </div>
        
</div>