@page "/config/secret-key"
@using Microsoft.AspNetCore.Authorization
@using Spamma.App.Components.Layouts
@using Spamma.App.Infrastructure.Constants
@layout ConfigLayout
@attribute [Authorize(AuthenticationSchemes = AuthConstants.ConfigScheme)]
<h1 class="mt-4">Encryption Keys</h1>
<p>Spamma utilizes keys to aid with encrypting parts of its operation. This will help generate some random data to use for creating the keys.</p>
<p>To do this, move your mouse in the box below.</p>
<form>
    <div class="mb-3">
        <div class="form-control" style="width: 400px; height: 400px"></div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@code {
    
}